* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
  }
.container {
    width: 1110px;
    margin: 0 auto;
}
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.head {
       width: 100%;
    height: auto;
    height: fit-content;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.5s;
}


.nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0.6;
}

.nav__item {
    list-style-type: none;
    
}

.nav__item:last-child {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding: 10px 40px;
    align-items: center;
    border-radius: 59px;
    border: 1px solid #FFF;
}


.nav__item a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.link:hover{
    display: flex;
padding: 10px 0px;
border-bottom: 2px solid #313EF7;
color: #313EF7;
}
.nav__item:hover {
    transform: none;
}

.image__1 {
    margin-top: 100px;
    margin-left: -90px;
    text-align: center;
}

.main__section {
    height: 800px;
    background-image: url(/img/bac__1.png);
}

.titlle{
    color: #FFF;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 48px;
font-weight: 700;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.text{
    color: rgba(255, 255, 255, 0.70);
text-align: center;
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.eco_system{
    margin-top: -130px;
}
.eco{
    display: flex;
width: 1200px;
padding: 40px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 0px 20px 20px 20px;
background: #FFF;
box-shadow: 0px 100px 200px 0px rgba(1, 23, 54, 0.10);
}
.ec{
    width: 520px;
    height: 60px;
    border: none;
    margin-bottom: -2px;
    display: inline-flex;
align-items: center;
border-radius: 0px 20px 20px 20px;
}
.ec a{
    color: #030522;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
display: flex;
padding: 16px 20px;
justify-content: center;
align-items: center;
border-bottom: 1px solid  #F3F4F6;
background: #FFF;
text-decoration: none;
}
.ec a:last-child{
display: flex;
padding: 16px 20px;
justify-content: center;
align-items: center;
border-radius: 0px 30px 0px 0px;
border-bottom: 1px solid var #F3F4F6;
background: #FFF;
}
.ec a:nth-child(1){
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 0px;

}
.ec a:hover{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
display: flex;
padding: 16px 20px;
justify-content: center;
align-items: center;
background: #313EF7;
}
.eco__list{
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.eco__item{
    display: flex;
    list-style-type: none;

}
.eco__item a{
    text-decoration: none;
}


.btn{
width: 200px;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
display: flex;
border: none;
padding: 14px 45px;
align-items: flex-start;
border-radius: 56px;
background: #313EF7;
margin: 0 auto;
margin-top: 24px;
box-shadow: 0px 10px 14px 0px rgba(49, 62, 247, 0.25);

}
.eco__inner{
    margin-top: 10px;
    margin-left: 10px;
}
.feat__list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feat__item{
    margin-top: 40px;
    text-align: center;
    list-style-type: none;
width: 260.633px;
height: 300px;
padding: 42px 21px;
align-items: flex-start;
border-radius: 100px;
background: #FFF;
box-shadow: 0px 100px 200px 0px rgba(1, 23, 54, 0.10);
border-radius: 120px;

}
.feat__item:nth-child(2){
    margin-top: -20px;
}
.feat__item:nth-child(4){
    margin-top: -20px;
}
.our{margin-top: 100px;
    color: #030522;
text-align: center;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.6px;
}
.more__eat{
    color: rgba(3, 5, 34, 0.65);
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.more__h4{
    color: #030522;
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 150%
}